@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,200;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

/* UTILITY CLASSES */

.btn-margin{
  margin-top:5rem;
}
.margin {
  margin: 3rem 2rem 3rem 2rem;
}

.flex-basis {
  flex-basis: 50%;
}

.img-width {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.hovers:hover {
  color: #008248;
}

.bg-pickup {
  background-color: #f2f0eb;
}

.bg-discover {
  background-color: #ebdbc8;
}

.bg-order-now {
  background-color: #1e3932;
}

.bg-uber {
  background-color: #d4e9e2;
}

.bg-hunger {
  background-color: #d4e9e3;
}

/* BUTTON  */

.btn {
  line-height: 1.2;
  cursor: pointer;
  color: #333;
  padding: 7px 18px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn-black {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn-white {
  border-color: rgb(26, 25, 25);
  background-color: #fff;
  color: #000;
}

.btn-border {
  border-color: rgb(26, 25, 25);
  color: #000;
}

.btn-w-text {
  color: #fff;
  border-color: #fff;
}

/* HEADER:----------------------- */

header {
  padding: 10px 30px;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .star-logo {
  width: 57px;
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
ul li {
  text-decoration: none;
  list-style: none;
  margin: 2rem;
  cursor: pointer;
}

.right {
  display: flex;
}

.right ul {
  display: flex;
  align-items: center;
  align-self: center;
}

.left ul {
  display: flex;
  align-items: center;
  align-self: center;
}

/* CARDS */

/*------------------ Pickup------------------------- */

section.pickup {
  display: flex;
  flex-wrap: wrap;
}

.card-1 {
  display: flex;
}

.content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
}

.content-1 h1 {
  border: 2px solid;
  font-size: 30px;
  font-weight: 900;
}

/* CARD-2 - DISCOVER */

section.discover {
  display: flex;
}

/* TERMS AND CONDITIONs */

section.terms {
  text-align: center;
  font-size: 20px;
  padding: 50px 100px 160px;
  border-bottom: 2px solid black;
}

.bottom p {
  margin-top: 10rem;
}

.top {
  display: flex;
  justify-content: center;
}

.top p {
  max-width: 900px;
}
