@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,200;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}


/* UTILITY CLASSES */

.margin{
  margin: 3rem 2rem 3rem 2rem;
}


.flex-basis{
  flex-basis: 50%;
}

.img-width
{
  width: 100%;
}
/* HEADER:----------------------- */



header {
  padding: 10px 30px;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .star-logo {
  width: 77px;
  cursor: pointer;
}

ul li {
  text-decoration: none;
  list-style: none;
  margin: 2rem;
  cursor: pointer;
}

.right {
  display: flex;
}

.right ul {
  display: flex;
  align-items: center;
  align-self: center;
}

.left ul {
  display: flex;
  align-items: center;
  align-self: center;
}

.left button {
  cursor: pointer;
}

/* CARDS */

section.pickup {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f0eb;
}

.card-1 {
  display: flex;
}

.content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
}

/* CARD-2 - DISCOVER */

section.discover {
  display: flex;
  background-color: #ebdbc8;
}


/* CARD-2 - ORDER-NOW */

section.order-now {
  background-color: #1e3932;
  display: flex;
}


/* ORDER NOW-2 */

section.ordernow-2{
  background-color: #d4e9e2;
}